@media (min-width: 1440px) {
  .container {
      width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fw-top-container-box-main {
  margin-top: 30px;
}

.fw-top-container-box-middle-list {
  margin-top: 10px;
}

.fw-top-container-box-middle-list li {
  margin-right: 20px;
}

.fw-top-container-box-middle-list li a {
  font-size: 14px;
  color: #7b828e;
}

.fw-top-container-box-left h2 {
  margin: 0;
}

.fw-top-container-box-right ul {
  margin-top: 6px;
}

.fw-top-container-box-right ul li a {
  display: block;
}

.fw-top-container-box-right ul li a span {
  color: #595f6a;
  font-size: 16px;
}

.fw-top-container-box-right-laomai {
  margin-left: 40px;
}

.fw-top-container-box-right-laomai img {
  margin-bottom: 8px;
}

.fw-top-container-box-right-fuwushang img {
  margin-bottom: 10px;
}

.fw-top-container-box-middle-search {
  width: 100%;
  position: relative;
}

.fw-top-container-box-middle-search::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/fw-sousuo.png) no-repeat 0 0 / cover;
  width: 15px;
  height: 16px;
  z-index: 9;
}

.fw-top-container-box-middle-search input {
  border: 2px solid #2a5ea9;
  font-size: 14px;
  padding-left: 35px;
}

.fw-top-container-box-middle-search-btn button {
  background-color: #2a5ea9;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  border: 0;
}

.fw-top-container-box-middle-search-btn button:visited,
.fw-top-container-box-middle-search-btn button:focus,
.fw-top-container-box-middle-search-btn button:hover,
.fw-top-container-box-middle-search-btn button:active {
  background-color: #2a5ea9 !important;
  color: #fff !important;
}
